body 
{font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;}
.separate{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 250px;
    margin-top: 50;

}
small{
    color: #D2B4DE ;
}
.future{
    padding-left: 4%;
}
section{
    padding-bottom: 3%;
}
.about{
    padding-right: 10%;
}
.separate img{
    width: 90%;
    height: 90%;
    padding-top: 6px;
}

span{
    color:#DE3163 ;
}
.success{
    border-left:#DE3163 solid ;
    padding-left: 7px;
}
.button {
    text-decoration: none;
background-image: linear-gradient(#DE3163 , #F5B7B1 );
padding: 10px 10px;
color: whitesmoke;
font-weight: 700;
border-radius: 7px;}
.mission{
    text-align: center;
}
.box-1{
     background-color: thistle;
    margin: 10px;
    padding: 2%;
    border-radius: 7%;
    width: 30%;
    height: 30%;
}
.box-2{
    background-color: #F5B7B1  ;
    margin: 10px;
    padding: 2%;
    border-radius: 7%;
    width: 30%;
    height: 30%;
}
.box-3{
background-color: #FADBD8;
margin: 10px;
padding: 2%;
border-radius: 7%;
width: 30%;
height: 30%;
}
.develop{
    background-image: url(./images/shapes/shape-5.png);
    background-repeat: no-repeat;
}
#pic{
    width: 90%;
    border-radius: 5%;
}
.image{
    width: 1500px;
}
.image img{
    border-radius: 5%;
}
.skill{
    background-image: url(./images/shapes/shape-4.png);
    background-repeat: no-repeat;
}
.hobby{
    padding-right: 400px;
    padding-left: 400px;
}
#last{
font-family: "Knewave";
color: white;
}
#finish{
    background-color: black;
    padding-left: 400px;
    padding-right: 400px;
    border-radius: 5%;
    margin-left: 5%;
    margin: 5%;
    margin-bottom: 0px;
}
footer{
    color: wheat;
}